run = "npm run dev"
modules = ["nodejs-20"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40593808
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]
